:root {
    --main-radius: 5px;
    --main-padding: 5px;
}
.navcontainer {
    width: 100%;
    margin: 0 auto;
}
body {
    background-color: black
}
 
header {
    background-color: black;
}

header::after {
    content: "";
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding: 10px 0;
    width: 70px;
    height: 50px;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    position: relative;
}

nav a {
    font-family: 'Bangers', cursive;
    font-size: 20px;
    color:rgb(196, 27, 140);
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: rgb(28, 182, 184);
}

nav a::before {
    content: "";
    display: block;
    height: 5px;
    background-color: rgb(28, 182, 184);
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width: 100%;
}

.image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center; 
        padding-bottom: 50px;
        padding-left: 180px;
        color: white;
        width: 30%;
        height: 10%;
      }  
      /* Top left text */
      .top-left {
        position: absolute;
        top: 10px;
        left: 18px;
        font-family: 'Bangers', cursive;
        font-size: 50px;
        color:rgb(196, 27, 140);
        background-color: black;
      } 
      /* Bottom right text */
      .bottom-right {
        position: absolute;
        bottom: 400px;
        right: 120px;
        font-family: 'Bangers', cursive;
        font-size: 40px;
        color:rgb(196, 27, 140);
        background-color: black;
      } 

#main-container {
    display: grid;
    height: 90vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .2fr 1.5fr 1.2fr 0.8fr;
    grid-template-areas:
        "nav nav nav nav"
        "sidebar main main main"
        "sidebar content1 content2 content3"
        "sidebar footer footer footer";
        grid-row-gap: 3rem;
        grid-column-gap: 3rem;
        font-family: 'Bangers', cursive;
        font-weight: auto;
        font-size: 20px;
        color: black;
}


main {
    background-color: rgb(196, 27, 140);
    grid-area: main;
    font-size: 25px;
    justify-content: center;
    border-radius:var(--main-radius);
    padding-top:var(--main-padding); 
}

p {
    margin: 0;
    padding: 0;
}

#sidebar {
    background-color: rgb(196, 27, 140);
    grid-area: sidebar;
    font-size: 26px;
    justify-content: start;
    border-radius:var(--main-radius);
    padding-top:var(--main-padding);
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content2 {
    background-color: rgb(28, 182, 184);
    grid-area: content1;
    border-radius:var(--main-radius);
    padding-top:var(--main-padding);
}

#content3 {
    background-color: white;
    grid-area: content2;
    border-radius:var(--main-radius);
    padding-top:var(--main-padding);
}

#content4 {
    background-color: black;
    grid-area: content3;
    border-radius:var(--main-radius);
    padding-top:var(--main-padding);
}

footer {
    background-color: rgb(196, 27, 140);
    grid-area: footer;
    font-size: 20px;
    border-radius:var(--main-radius);
    padding-top:var(--main-padding);
}


@media only screen and (max-width: 768px) { 
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;        
        grid-template-areas: 
        "nav"
        "sidebar"
        "main"
        "content1"
        "content2"
        "content3"
        "content4"
    }
    }